# 4.8: Grouping Data & Aggregating Variables

1. Importing libraries and data:

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/rachelgrigiac/Documents/CareerFoundry/Instacart Basket Analysis'

In [3]:
# Importing data
ords_prods_merge = pd.read_pickle(os.path.join( path, '02 Data', 'Prepared Data', 'ords_prods_derived.pkl'))

2. Finding the aggregated mean of the 'user_order_number' column grouped by 'department_id':

In [4]:
ords_prods_merge.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest Days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest Days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest Days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest Days,Most orders

In [5]:
ords_prods_merge.groupby('department_id').agg({'user_order_number': ['mean']})

              user_order_number
                           mean
department_id
1                     15.457838
2                     17.277920
3                     17.170395
4                     17.811403
5                     15.215751
6                     16.439806
7                     17.225802
8                     15.340650
9                     15.895474
10                    20.197148
11                    16.170638
12                    15.887671
13                    16.583536
14                    16.773669
15                    16.165037
16                    17.665606
17                    15.694469
18                    19.310397
19                    17.177343
20                    16.473447
21                    22.902379

3. The results now include all the departments, providing more accurate information about which departments have more order numbers per user. Department #21 has the highest number, which was not included in the subset.

4. Creating a loyalty flag for existing customers:

In [6]:
# Create new column 'max_order'
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['user_order_number'].transform(np.max)

/var/folders/y9/8n80fmjn4t70621k4d0spkzh0000gn/T/ipykernel_5402/3063272494.py:2: FutureWarning: The provided callable <function max at 0x112141940> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['user_order_number'].transform(np.max)

In [7]:
# Check the results
ords_prods_merge.head(15)

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest Days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Slowest Days,Most orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest Days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest Days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest Days,Most orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest Days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest Days,Most orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Slowest Days,Average orders,10
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest Days,Most orders,22
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest Days,Most orders,22
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Busiest Days,Most orders,22

In [8]:
# Deriving colum with loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
# Check the results
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [12]:
# Check the right flags were assigned
ords_prods_merge[['user_id','loyalty_flag','user_order_number']].head(30)

    user_id      loyalty_flag  user_order_number
0         1      New customer                  1
1         1      New customer                  2
2         1      New customer                  3
3         1      New customer                  4
4         1      New customer                  5
5         1      New customer                  6
6         1      New customer                  7
7         1      New customer                  8
8         1      New customer                  9
9         1      New customer                 10
10       15  Regular customer                 15
11       15  Regular customer                 17
12       15  Regular customer                 18
13       15  Regular customer                 21
14       15  Regular customer                 22
15       19      New customer                  2
16       19      New customer                  5
17       19      New customer                  7
18       21  Regular customer                 10
19       31  Regular customer                 10
20       31  Regular customer                 17
21       43  Regular customer                  6
22       43  Regular customer                  9
23       52  Regular customer                  1
24       52  Regular customer                  2
25       52  Regular customer                  3
26       52  Regular customer                  5
27       52  Regular customer                  7
28       52  Regular customer                  9
29       52  Regular customer                 10

5. Do the prices of products purchased by loyal customers differ from those purchased by regular or new customers?

In [13]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

6. Different types of spenders:

In [14]:
# Create new column 'average_price'
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/y9/8n80fmjn4t70621k4d0spkzh0000gn/T/ipykernel_5402/1676412295.py:2: FutureWarning: The provided callable <function mean at 0x112142340> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [15]:
# Deriving colum with loc()
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [16]:
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [17]:
# Check the results
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [18]:
# Check the right flags were assigned
ords_prods_merge[['user_id','spending_flag','average_price']].head(30)

    user_id spending_flag  average_price
0         1   Low spender       6.367797
1         1   Low spender       6.367797
2         1   Low spender       6.367797
3         1   Low spender       6.367797
4         1   Low spender       6.367797
5         1   Low spender       6.367797
6         1   Low spender       6.367797
7         1   Low spender       6.367797
8         1   Low spender       6.367797
9         1   Low spender       6.367797
10       15   Low spender       3.980556
11       15   Low spender       3.980556
12       15   Low spender       3.980556
13       15   Low spender       3.980556
14       15   Low spender       3.980556
15       19   Low spender       8.372059
16       19   Low spender       8.372059
17       19   Low spender       8.372059
18       21   Low spender       7.012683
19       31   Low spender       8.137793
20       31   Low spender       8.137793
21       43   Low spender       7.444898
22       43   Low spender       7.444898
23       52   Low spender       6.356287
24       52   Low spender       6.356287
25       52   Low spender       6.356287
26       52   Low spender       6.356287
27       52   Low spender       6.356287
28       52   Low spender       6.356287
29       52   Low spender       6.356287

In [19]:
ords_prods_merge[['user_id','spending_flag','average_price']].tail(60)

          user_id spending_flag  average_price
32404799   183369   Low spender       7.701508
32404800   183369   Low spender       7.701508
32404801   183867   Low spender       8.181988
32404802   185887   Low spender       8.819298
32404803   186019   Low spender       7.929515
32404804   198888   Low spender       8.354462
32404805   186019   Low spender       7.929515
32404806   186227   Low spender       7.487684
32404807   186321  High spender      14.100000
32404808   186870   Low spender       8.436216
32404809   186870   Low spender       8.436216
32404810   186419   Low spender       6.927766
32404811   186419   Low spender       6.927766
32404812   187144   Low spender       6.842360
32404813   188105   Low spender       7.777273
32404814   188274   Low spender       7.184806
32404815   189140   Low spender       5.837500
32404816   190603   Low spender       8.700680
32404817   201296   Low spender       7.258621
32404818   191198   Low spender       8.082119
32404819   191198   Low spender       8.082119
32404820   198258   Low spender       7.412740
32404821   191406   Low spender       7.223243
32404822   191508   Low spender       8.719231
32404823   196973   Low spender       7.773746
32404824   192494   Low spender       8.071642
32404825   192711   Low spender       6.033728
32404826   192711   Low spender       6.033728
32404827   192711   Low spender       6.033728
32404828   192777   Low spender       6.750000
32404829   193840   Low spender       7.046341
32404830   194078   Low spender       7.539801
32404831   202763   Low spender       7.235439
32404832   194639   Low spender       8.412658
32404833   196040   Low spender       7.524779
32404834   196359   Low spender       8.301235
32404835   197349   Low spender       7.542958
32404836   197459   Low spender       8.194909
32404837   198107   Low spender       8.683333
32404838   198107   Low spender       8.683333
32404839   200351   Low spender       7.863636
32404840   205587   Low spender       7.946970
32404841   200463   Low spender       8.444737
32404842   203389   Low spender       8.606030
32404843   202557   Low spender       6.905655
32404844   202557   Low spender       6.905655
32404845   202557   Low spender       6.905655
32404846   202557   Low spender       6.905655
32404847   202557   Low spender       6.905655
32404848   202557   Low spender       6.905655
32404849   202557   Low spender       6.905655
32404850   202557   Low spender       6.905655
32404851   202557   Low spender       6.905655
32404852   202557   Low spender       6.905655
32404853   202557   Low spender       6.905655
32404854   202557   Low spender       6.905655
32404855   202557   Low spender       6.905655
32404856   203436   Low spender       7.631579
32404857   203436   Low spender       7.631579
32404858   205420   Low spender       7.684746

7. Determine frequent versus non-frequent customers:

In [20]:
# Create new column 'average_price'
ords_prods_merge['order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/y9/8n80fmjn4t70621k4d0spkzh0000gn/T/ipykernel_5402/1012682108.py:2: FutureWarning: The provided callable <function median at 0x11228ade0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [21]:
# Deriving new column
ords_prods_merge.loc[ords_prods_merge['order_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [22]:
ords_prods_merge.loc[(ords_prods_merge['order_frequency'] > 10) & (ords_prods_merge['order_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'

In [23]:
ords_prods_merge.loc[ords_prods_merge['order_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [24]:
# Check the results
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

In [25]:
#Check the rows with nan
rows_with_nan = ords_prods_merge[ords_prods_merge['frequency_flag'] == 'nan']

In [26]:
rows_with_nan

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,order_frequency,frequency_flag
13645692,895835,159838,1,0,17,NaN,True,10749,3,0,...,Mid range product,Busiest day,Busiest Days,Average orders,1,New customer,7.42,Low spender,NaN,nan
17251990,895835,159838,1,0,17,NaN,True,33401,6,0,...,Mid range product,Busiest day,Busiest Days,Average orders,1,New customer,7.42,Low spender,NaN,nan
17622767,895835,159838,1,0,17,NaN,True,23695,2,0,...,Low range product,Busiest day,Busiest Days,Average orders,1,New customer,7.42,Low spender,NaN,nan
24138593,895835,159838,1,0,17,NaN,True,21334,5,0,...,Mid range product,Busiest day,Busiest Days,Average orders,1,New customer,7.42,Low spender,NaN,nan
25880002,895835,159838,1,0,17,NaN,True,22198,1,0,...,Low range product,Busiest day,Busiest Days,Average orders,1,New customer,7.42,Low spender,NaN,nan

In [ ]:
ords_prods_merge.loc[ords_prods_merge[

Those are only customers who have a maximum order of 1.

In [27]:
# Exporting dataframe
ords_prods_merge.to_pickle(os.path.join( path, '02 Data', 'Prepared Data', 'ords_prods_grouped.pkl'))

5.